# .easignore
# Overrides .gitignore for EAS Build

# Include .env files so Expo can use them during the build
!.env
!.env.production

# Keep ignoring node_modules and other large/private folders
node_modules/
.git/
dist/
build/
