# .easignore
# Overrides .gitignore for EAS Build

node_modules
node_modules/
**/node_modules
.expo/
dist/
dist-obfuscated/
build/
android/
ios/
backups/
.git/
.secrets.json
*.db
*.sqlite
*.sqlite3
*.zip
*.tar.gz
*.apk
*.log
! .env
! .env.production
